:root {
  font-size: 62.5%; /* 1rem = 10px */

  --color-base-white: #ffffff;
  --color-base-blue: #312d64;
  --color-base-blue-gradient: linear-gradient(
    96deg,
    #343193 0%,
    #302c63 99.68%
  );
  --color-base-magenta: #b52184;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
input,
textarea,
::placeholder,
button {
  color: var(--color-base-blue);
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

h1,
h2,
legend {
  color: var(--color-base-magenta);
  font-weight: 900;
}

#about,
button,
footer {
  background: var(--color-base-blue-gradient);
}

#page {
  width: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .container {
  min-height: 100vh;

  text-align: center;

  padding: 0 4rem 9rem;
}

#home img:first-child {
  max-width: 100%;
}

#home h1 {
  font-size: 3.2rem;

  margin: 1.7rem auto 0.5rem;
}

#home p {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3.5rem;
}

#about .container {
  display: flex;
  gap: 5rem;

  padding: 5.2rem 4rem;
}

#about .card {
  border-radius: 2rem;
  background: var(--color-base-white);

  padding: 2.6rem;

  max-width: 35rem;
  box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);
}

#about .card img {
  width: 8rem;
  height: 8rem;
}

#about .card h2 {
  font-size: 3rem;

  margin: 3.2rem 0 2rem;
}

#contact .container {
  padding: 6.4rem 4rem;
}

#contact fieldset {
  border: 0;
}

#contact legend {
  font-size: 3.2rem;

  margin-bottom: 4.2rem;
}

#contact label {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;
}

#contact input,
#contact textarea {
  width: 100%;

  padding: 1.2rem 1.6rem 1.2rem 5rem;
  margin-bottom: 2.4rem;

  border-radius: 1.6rem;
  border: 1.5px solid var(--color-base-blue);
}

#contact #name {
  background: url(./assets/icon-person.svg) no-repeat left 1.4rem top 50%;
}

#contact #email {
  background: url(./assets/icon-atsign.svg) no-repeat left 1.4rem top 50%;
}

#contact textarea {
  height: 12.6rem;
  padding: 1.2rem 1.6rem;
}

#contact button {
  color: var(--color-base-white);

  font-size: 1.4rem;
  font-weight: 700;

  line-height: 2.4rem;
  padding: 1.6rem;

  border: 0;
  border-radius: 1.6rem;
  background: var(--color-base-blue-gradient);
}

#contact button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

footer p {
  color: var(--color-base-white);
  font-size: 2rem;
  text-align: center;

  padding: 1.6rem;
}
