:root {
  font-size: 62.5%; /* 1rem = 10px */

  /*Melhorando a qualidade das fontes (textos) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-base-white: #ffffff;
  --color-base-blue: #312d64;
  --color-base-blue-gradient: linear-gradient(
    96deg,
    #343193 0%,
    #302c63 99.68%
  );
  --color-base-magenta: #b52184;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
input,
textarea,
::placeholder,
button {
  color: var(--color-base-blue);
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

h1,
h2,
legend {
  color: var(--color-base-magenta);
  font-weight: 900;
}

#about,
button,
footer {
  background: var(--color-base-blue-gradient);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  height: 100vh;
}

#home .container {
  text-align: center;

  padding: 0 4rem 9rem;
}

#home img:first-child {
  max-width: 100%;
}

#home h1 {
  font-size: 3.2rem;

  margin: 1.7rem auto 0.5rem;
}

#home p {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 3.5rem;
}

#home img:last-child {
  width: 5.9rem;
  height: 10.5rem;

  animation: arrow-down 1s ease-in infinite;
}

#about .container {
  display: flex;
  gap: 5rem;

  padding: 5.2rem 4rem;
}

#about .card {
  border-radius: 2rem;
  background: var(--color-base-white);

  padding: 2.6rem;

  max-width: 35rem;
  box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);
}

#about .card img {
  width: 8rem;
  height: 8rem;
}

#about .card h2 {
  font-size: 3rem;

  margin: 3.2rem 0 2rem;
}

#contact .container {
  padding: 6.4rem 4rem;
}

#contact fieldset {
  border: 0;
}

#contact legend {
  font-size: 3.2rem;

  margin-bottom: 4.2rem;
}

#contact label {
  width: 1px;
  height: 1px;

  overflow: hidden;
  position: absolute;
}

#contact input,
#contact textarea {
  width: 100%;

  padding: 1.2rem 1.6rem 1.2rem 5rem;
  margin-bottom: 2.4rem;

  border-radius: 1.6rem;
  border: 1.5px solid var(--color-base-blue);
}

#contact #name {
  background: var(--color-base-white) url(./assets/icon-person.svg) no-repeat
    left 1.4rem top 50%;
}

#contact #email {
  background: var(--color-base-white) url(./assets/icon-atsign.svg) no-repeat
    left 1.4rem top 50%;
}

#contact textarea {
  height: 12.6rem;
  padding: 1.2rem 1.6rem;
  background: var(--color-base-white);
}

#contact button {
  color: var(--color-base-white);

  font-size: 1.4rem;
  font-weight: 700;

  line-height: 2.4rem;
  padding: 1.6rem;

  border: 0;
  border-radius: 1.6rem;
  background: var(--color-base-blue-gradient);
}

footer p {
  color: var(--color-base-white);
  font-size: 2rem;
  text-align: center;

  padding: 1.6rem;
}

/* Media Queries */
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #home .container {
    flex-direction: row-reverse;
    gap: 2.8rem;

    padding: 0 3rem 10.2rem 11rem;
  }

  #home .home-text {
    text-align: left;

    margin: auto 0;
    min-width: 45rem;
  }

  #home img:first-child {
    width: min(720px, 100%);
  }

  #home h1 {
    font-size: 4rem;

    margin: 0 0 0.8rem;
  }

  #home p {
    font-size: 2.8rem;

    margin-bottom: 15rem;
  }

  #about .container {
    justify-content: center;
    gap: 3rem;

    padding: 6.4rem 11rem;
  }

  #about .card {
    height: 52rem;
    text-align: center;
  }

  #about .card p {
    font-size: 1.8rem;
  }

  #contact .container {
    padding: 0;
    background: url(./assets/img-stars-desktop.png) no-repeat right;
  }

  #contact form {
    padding: 9.5rem 9.2rem 9.5rem 11rem;
  }

  #contact legend {
    font-size: 4.2rem;

    margin-bottom: 3rem;
  }

  #contact input,
  #contact textarea {
    width: 59.2rem;
  }
}

@media (min-width: 1440px) {
  #home h1 {
    font-size: 5.8rem;

    padding-top: 31.2rem;
    margin: 0 0 0.8rem;
  }

  #home p {
    font-size: 3.2rem;

    margin-bottom: 17.9rem;
  }

  #about .container {
    gap: 6;
  }

  #about .card {
    padding: 3.2rem;

    max-width: 43rem;
    height: 44rem;

    text-align: start;
  }

  #about .card img {
    width: 9.7rem;
    height: 9.7rem;
  }

  #about .card h2 {
    font-size: 3.6rem;

    margin: 4rem 0 2.4rem;
  }

  #about .card p {
    font-size: 1.9rem;
    text-align: justify;
  }
}

/* Animations */
#contact button:hover {
    cursor: pointer;    
    filter: saturate(150%);
  
    animation: button-background 2s linear infinite alternate both;
}

@keyframes button-background {
  from {
    background: var(--color-base-magenta);
    
  }
  to {  
    background: var(--color-base-blue);
  }
}

@keyframes arrow-down {
  to {
    transform: translateY(2rem);
  }
}